In [1]:


import numpy as np 
import pandas as pd

# Reading the dataframe

In [2]:
df_yield = pd.read_csv("yield.csv")
df_temp= pd.read_csv("temp.csv")
df_rainfall = pd.read_csv("rainfall.csv")
df_pesticides = pd.read_csv("pesticides.csv")
df_yield_df = pd.read_csv("yield_df.csv")

# Checking the dataframes and looking into the common columns or columns of relevance

In [3]:
#### Checking for a column to implement the join 

print(df_yield.columns)
print(df_yield['Area'].nunique())
print(df_yield['Year'].nunique())

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value'],
      dtype='object')
212
56

In [4]:

print(df_yield_df.columns)
print(df_yield_df['Area'].nunique())
print(df_yield_df['Year'].nunique())
df_yield_df.drop(['Unnamed: 0'], axis = 1 ,inplace = True)

Index(['Unnamed: 0', 'Area', 'Item', 'Year', 'hg/ha_yield',
       'average_rain_fall_mm_per_year', 'pesticides_tonnes', 'avg_temp'],
      dtype='object')
101
23

In [5]:
print(df_pesticides.columns)
print(df_pesticides['Area'].nunique())
print(df_pesticides['Year'].nunique())

Index(['Domain', 'Area', 'Element', 'Item', 'Year', 'Unit', 'Value'], dtype='object')
168
27

In [6]:
print(df_rainfall.columns)
## Renaming the ' Area' column
df_rainfall.rename(columns = {' Area':'Area'},inplace = True)
print(df_rainfall['Area'].nunique())
print(df_rainfall['Year'].nunique())

Index([' Area', 'Year', 'average_rain_fall_mm_per_year'], dtype='object')
217
31

In [7]:
print(df_temp.columns)
df_temp.rename(columns = {'year':'Year','country':'Area'},inplace = True)
print(df_temp['Area'].nunique())
print(df_temp['Year'].nunique())
print(df_temp.columns)

Index(['year', 'country', 'avg_temp'], dtype='object')
137
271
Index(['Year', 'Area', 'avg_temp'], dtype='object')

#### The common columns in the above are the Year and and Country(Area) column , we will merge our datasets on these columns

In [8]:
df_temprain = pd.merge(df_rainfall,df_temp,on = ['Year','Area'])
df_trp = pd.merge(df_temprain,df_pesticides , on = ['Year','Area'])

In [9]:
trpl =list(df_trp.columns)
dfy = list(df_yield.columns)
com1 = [i for i in trpl if i in dfy]

In [10]:
print(df_yield.columns)
print(df_yield_df.columns)



ly = [i for i in list(df_yield.columns) if i in (df_yield_df.columns)]

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value'],
      dtype='object')
Index(['Area', 'Item', 'Year', 'hg/ha_yield', 'average_rain_fall_mm_per_year',
       'pesticides_tonnes', 'avg_temp'],
      dtype='object')

In [11]:
yield_df = pd.merge(df_yield_df,df_yield, on = ['Year','Area','Item'])

In [12]:
print(yield_df.shape)

print(yield_df.columns)
print(df_trp.columns)

(28242, 16)
Index(['Area', 'Item', 'Year', 'hg/ha_yield', 'average_rain_fall_mm_per_year',
       'pesticides_tonnes', 'avg_temp', 'Domain Code', 'Domain', 'Area Code',
       'Element Code', 'Element', 'Item Code', 'Year Code', 'Unit', 'Value'],
      dtype='object')
Index(['Area', 'Year', 'average_rain_fall_mm_per_year', 'avg_temp', 'Domain',
       'Element', 'Item', 'Unit', 'Value'],
      dtype='object')

In [13]:
# Assuming your first dataframe is df1 and second dataframe is df2
years_df1 = set(yield_df['Year'].unique())
years_df2 = set(df_trp['Year'].unique())

# Find the years in df2 that are not in df1
years_only_in_df2 = years_df2 - years_df1

# Print the result
print("Years present in df1 but not in df2:", years_only_in_df2)

Years present in df1 but not in df2: set()

In [14]:
# Assuming your first dataframe is df1 and second dataframe is df2
area_df1 = set(yield_df['Year'].unique())
area_df2 = set(df_trp['Year'].unique())

# Find the years in df2 that are not in df1
area_only_in_df1 = area_df2 - area_df1

# Print the result
print("Area present in df1 but not in df2:", area_only_in_df1)

Area present in df1 but not in df2: set()

#### We see that the columns in the respective datasets are the same and the values of Year and Area overlap. Thus we have repetitive data , and hence ignoring the adf_trp dataset .Proceeding with the yield_df.

# Exploratory data analysis

In [15]:
yield_df.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Domain Code,Domain,Area Code,Element Code,Element,Item Code,Year Code,Unit,Value
0,Albania,Maize,1990,36613,1485.0,121.0,16.37,QC,Crops,3,5419,Yield,56,1990,hg/ha,36613
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37,QC,Crops,3,5419,Yield,116,1990,hg/ha,66667
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37,QC,Crops,3,5419,Yield,27,1990,hg/ha,23333
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37,QC,Crops,3,5419,Yield,83,1990,hg/ha,12500
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37,QC,Crops,3,5419,Yield,236,1990,hg/ha,7000

In [16]:
print(yield_df['Item Code'].nunique())
print(yield_df['Item'].nunique())
## It has one unique value for each crop

10
10

In [17]:
print(yield_df['Domain'].nunique())
print(yield_df['Domain Code'].nunique())

1
1

In [18]:
print(yield_df['Area'].nunique())
print(yield_df['Area Code'].nunique())

101
101

In [19]:
print(yield_df['Element Code'].nunique())
print(yield_df['Element'].nunique())
print(yield_df['Unit'].nunique())

1
1
1

#### From the above it is evident that the Year Code and the Domain code are duplicate and irrelevent columns respectively. The Area code column is not useful for us for drawing any tangible conclusion. Domain also has only one value and hence dropping it. Dropping the columns. Area code is also representative of the Area code. hg/ha_yield And Value and Unit are all connected and hence dropping the last 2 columns .

In [20]:
## Making a copy of the dataset , because it may be required for later use

Yield_final_data = yield_df.copy()

In [21]:
Yield_final_data.drop(['Area Code','Year Code','Domain','Domain Code','Area Code','Item Code','Element','Element Code','Unit','Value'],axis = 1 , inplace = True)

In [22]:
Yield_final_data.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [23]:
#### Filtering the dataset based on Area being India

Yield_final_data[Yield_final_data['Area'] == 'India'].head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
10502,India,Cassava,1990,205381,1083.0,75000.0,25.58
10503,India,Cassava,1990,205381,1083.0,75000.0,26.88
10504,India,Cassava,1990,205381,1083.0,75000.0,25.79
10505,India,Cassava,1990,205381,1083.0,75000.0,24.10
10506,India,Cassava,1990,205381,1083.0,75000.0,25.25

In [24]:
Yield_final_data.shape

(28242, 7)

In [25]:
Yield_final_data.describe()

,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
count,28242.000000,28242.000000,28242.00000,28242.000000,28242.000000
mean,2001.544296,77053.332094,1149.05598,37076.909344,20.542627
std,7.051905,84956.612897,709.81215,59958.784665,6.312051
min,1990.000000,50.000000,51.00000,0.040000,1.300000
25%,1995.000000,19919.250000,593.00000,1702.000000,16.702500
50%,2001.000000,38295.000000,1083.00000,17529.440000,21.510000
75%,2008.000000,104676.750000,1668.00000,48687.880000,26.000000
max,2013.000000,501412.000000,3240.00000,367778.000000,30.650000

In [28]:
Yield_final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28242 entries, 0 to 28241
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           28242 non-null  object
 1   Item                           28242 non-null  object
 2   Year                           28242 non-null  int64
 3   hg/ha_yield                    28242 non-null  int64
 4   average_rain_fall_mm_per_year  28242 non-null  float64
 5   pesticides_tonnes              28242 non-null  float64
 6   avg_temp                       28242 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.7+ MB

In [29]:
has_zeros = (Yield_final_data == 0).any().any()

if has_zeros:
    print("Yield_final_data contains zeros.")
else:
    print("Yield_final_data does not contain zeros.")

Yield_final_data does not contain zeros.

In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

In [32]:
# Assuming df is your DataFrame containing the data
# Extract features and target variable
X = Yield_final_data.drop(columns=['hg/ha_yield'])  # Features
y = Yield_final_data['hg/ha_yield']  # Target variable

In [33]:
# Perform train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Define preprocessing steps for categorical and numerical features
categorical_features = ['Area', 'Item']
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

In [35]:
numeric_features = ['Year', 'average_rain_fall_mm_per_year', 'pesticides_tonnes', 'avg_temp']
numeric_transformer = MinMaxScaler()

In [36]:
# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),
        ('num', numeric_transformer, numeric_features)
    ])

In [55]:
df_train = df_train.drop('Year',axis = 1)
df_test  = df_test.drop('Year',axis = 1)

X_train = df_train.drop('hg/ha_yield',axis = 1 )
y_train = df_train['hg/ha_yield']
X_test  = df_test.drop('hg/ha_yield', axis = 1)
y_test  = df_test['hg/ha_yield']

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(22424, 111)
(22424,)
(4575, 111)
(4575,)

In [37]:
# Create pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(random_state=42))
])

In [38]:
# Train the model
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Area', 'Item']),
                                                 ('num', MinMaxScaler(),
                                                  ['Year',
                                                   'average_rain_fall_mm_per_year',
                                                   'pesticides_tonnes',
                                                   'avg_temp'])])),
                ('regressor', RandomForestRegressor(random_state=42))])

In [39]:
# Test the pipeline with test data
score = pipeline.score(X_test, y_test)
print(f"R-squared score on test data: {score}")

R-squared score on test data: 0.9878407065832409

In [40]:

# Sample new data (completely new, not seen during training)
new_data = {
    'Area': ['E'],
    'Item': ['K'],
    'Year': [2015],
    'average_rain_fall_mm_per_year': [800],
    'pesticides_tonnes': [30.2],
    'avg_temp': [29.5]
}

# Convert new data into DataFrame
new_df = pd.DataFrame(new_data)

# Predict using the trained pipeline
predictions = pipeline.predict(new_df)

print("Predicted yields for completely new data:")
print(predictions)

Predicted yields for completely new data:
[12746.36]

In [41]:
from joblib import dump

# Assuming 'pipeline' is your trained pipeline
pipeline_filename = 'yield_prediction_pipeline.joblib'
dump(pipeline, pipeline_filename)

['yield_prediction_pipeline.joblib']

In [58]:
y_train.values.reshape(-1,1)
y_test.values.reshape(-1,1)

array([[ 66790],
       [231111],
       [ 16667],
       ...,
       [ 13142],
       [ 22222],
       [ 22888]], dtype=int64)

# Scaling and Model training

In [59]:


mmc = MinMaxScaler()
X_train = mmc.fit_transform(X_train)
X_test = mmc.transform(X_test)

In [60]:
### training the model with LR



from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(X_train,y_train)
y_pred = LR.predict(X_test)

Model_perf = pd.DataFrame(columns=['Model_Name','MSE','R2_Score'])

LR_mse = mean_squared_error(y_test,y_pred) 
LR_R2 = r2_score(y_test,y_pred)

new_row = {'Model_Name':'Linear Regression','MSE':LR_mse , 'R2_Score': LR_R2}
Model_perf = Model_perf.append(new_row,ignore_index = True)

C:\Windows\Temp\ipykernel_972\3736926794.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Model_perf = Model_perf.append(new_row,ignore_index = True)

In [61]:
import numpy as np
from sklearn.preprocessing import PolynomialFeatures


# Create polynomial features
poly_features = PolynomialFeatures(degree=2)  
X_poly = poly_features.fit_transform(X_train)

# Train the polynomial regression model
poly_regression = LinearRegression()
poly_regression.fit(X_poly, y_train)

# Predict using the trained model

X_test_poly = poly_features.transform(X_test)
y_pred = poly_regression.predict(X_test_poly)
print("Predicted values:", y_pred)

Predicted values: [ 68251. 167115.  45175. ...  19015.  21362.  48361.]

In [62]:
PR_mse = mean_squared_error(y_test,y_pred) 
PR_R2 = r2_score(y_test,y_pred)

new_row = {'Model_Name':'Polynomial Regression(degree 2)','MSE':PR_mse , 'R2_Score': PR_R2}
Model_perf = Model_perf.append(new_row,ignore_index = True)

C:\Windows\Temp\ipykernel_972\714752342.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Model_perf = Model_perf.append(new_row,ignore_index = True)

In [63]:
### The polynomial regression does not perform that well

In [64]:
### Trying the XGB regressor now

from xgboost import XGBRegressor
XG_boost = XGBRegressor(max_depth = 3,n_estimators = 300 )

XG_boost.fit(X_train , y_train)
y_pred = XG_boost.predict(X_test)
XG_rmse = mean_squared_error(y_test,y_pred)
XG_R2 = r2_score(y_test,y_pred)

new_row = {'Model_Name':'XGB','MSE':XG_rmse ,'R2_Score': XG_R2}
Model_perf = Model_perf.append(new_row,ignore_index = True)

C:\Windows\Temp\ipykernel_972\1471169558.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Model_perf = Model_perf.append(new_row,ignore_index = True)

# Model_Performance

In [63]:
Model_perf

                        Model_Name           MSE      R2_Score
0                Linear Regression  9.699018e+08  7.327007e-01
1  Polynomial Regression(degree 2)  1.825377e+31 -5.030634e+21
2                              XGB  5.192567e+08  8.568959e-01

In [65]:
import joblib

# Assuming XG_boost is your trained XGBRegressor model
# Save the model to a file
joblib.dump(XG_boost, 'yield_predictor.pkl')

['yield_predictor.pkl']

In [66]:
Yield_final_data

,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Item_Maize,Item_Potatoes,Item_Rice,Item_Sorghum,Item_Soybeans,...,Area_Tajikistan,Area_Thailand,Area_Tunisia,Area_Turkey,Area_Uganda,Area_Ukraine,Area_United Kingdom,Area_Uruguay,Area_Zambia,Area_Zimbabwe
0,1990,36613,1485.0,121.00,16.37,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1990,66667,1485.0,121.00,16.37,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1990,23333,1485.0,121.00,16.37,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1990,23333,1485.0,121.00,16.37,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1990,12500,1485.0,121.00,16.37,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31625,2013,22581,657.0,2550.07,19.76,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
31626,2013,3066,657.0,2550.07,19.76,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
31627,2013,13142,657.0,2550.07,19.76,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
31628,2013,22222,657.0,2550.07,19.76,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31629,2013,22888,657.0,2550.07,19.76,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1